.components-profile-position {
  padding: 16px;
  // background: #17171a;
  .action {
    display: flex;
    gap: 8px;
    button {
      padding: 0 8px;
      height: 22px;
      border-radius: 2px;
    }
    .more {
      width: 24px;
      height: 24px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 2px;
      transition: all 0.3s ease-in-out;
      &:hover {
        filter: brightness(0.6);
      }
    }
  }
  table {
    min-width: 100%;

    tbody {
      position: relative;
    }
    th,
    td {
      // display: table-cell;
      vertical-align: middle;
      height: 54px;
      border-top: 1px solid transparent;
      border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    }
    th {
      padding: 0 16px;
      white-space: nowrap;
      font-weight: 500;
      font-size: 14px;
      text-align: left;
      color: rgba(255, 255, 255, 0.45);
    }
    td {
      padding: 0 16px;
      white-space: nowrap;
      font-weight: 500;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.85);
      h4 {
        margin: 0 8px;
      }
      .coin {
        // margin-right: 8px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
      }
      p {
        padding: 0 6px;
        height: 20px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
}

.global-modal-collateral-container {
  padding: 24px 24px 0 24px;
  width: 360px;
  .handle {
    gap: 16px;
    margin: 20px 0 8px 0;
    .input {
      flex: 1;
    }
    .select {
      height: 40px;
      font-weight: 700;
      font-size: 16px;
    }
  }
  .tips {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.45);
  }
  .info {
    h4 {
      margin-bottom: 16px;
      font-weight: 700;
      font-size: 16px;
      line-height: 120%;
      color: rgba(255, 255, 255, 0.85);
    }
    div + div {
      margin-top: 12px;
    }
    span {
      font-size: 14px;
      line-height: 120%;
      color: rgba(255, 255, 255, 0.45);
    }
    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      color: rgba(255, 255, 255, 0.85);
    }
  }
}

.global-modal-editOrder-container {
  padding: 24px 24px 0 24px;
  width: 360px;
  overflow: hidden;
  .handle {
    margin-bottom: 16px;
    h4 {
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      color: rgba(255, 255, 255, 0.85);
    }
    .select {
      padding: 0 16px;
      height: 40px;
      background: rgba(255, 255, 255, 0.04);
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 6px;
    }
  }
  .label {
    margin-bottom: 12px;
    h5 {
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      color: rgba(255, 255, 255, 0.85);
    }
    p {
      font-size: 14px;
      line-height: 120%;
      color: rgba(255, 255, 255, 0.45);
    }
  }
  .input {
    margin-bottom: 20px;
    input {
      width: 100%;
    }
  }
  .more {
    button {
      margin-right: 10px;
      padding: 0 8px;
      height: 24px;
      background: #efefef;
      box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.02);
      border-radius: 2px;
    }
    .component-select {
      height: 28px;
    }
  }
  .coin {
    font-size: 14px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.85);
  }
  .multiple {
    width: 80px;
  }
  .info {
    margin: 16px 0;
    h4 {
      margin-bottom: 12px;
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      color: rgba(255, 255, 255, 0.85);
    }
    div + div {
      margin-top: 8px;
    }
    p {
      font-size: 14px;
      line-height: 120%;
      color: rgba(255, 255, 255, 0.45);
    }
    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      color: rgba(255, 255, 255, 0.85);
    }
  }
}

.global-modal-addOption-container {
  padding: 24px 24px 0 24px;
  width: 400px;
  overflow: hidden;
  .info {
    div + div {
      margin-top: 12px;
    }
    p {
      font-size: 14px;
      line-height: 120%;
      color: rgba(255, 255, 255, 0.45);
    }
    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      color: rgba(255, 255, 255, 0.85);
    }
  }
  hr {
    margin: 16px 0;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.06);
  }
  .label {
    margin-bottom: 12px;
    h5 {
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      color: rgba(255, 255, 255, 0.85);
    }
    p {
      font-size: 14px;
      line-height: 120%;
      color: rgba(255, 255, 255, 0.45);
    }
  }
  .input {
    margin-bottom: 20px;
    input {
      width: 100%;
    }
  }
  .more {
    button {
      margin-right: 10px;
      padding: 0 8px;
      height: 24px;
      background: #efefef;
      box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.02);
      border-radius: 2px;
    }
    .component-select {
      height: 40px;
    }
  }
  .coin {
    font-size: 14px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.85);
  }
  .convert {
    // margin-top: 8px;
    p {
      font-size: 14px;
      line-height: 120%;
      color: rgba(255, 255, 255, 0.45);
    }
    img {
      width: 24px;
      height: 26px;
      user-select: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .tips {
    margin-top: 12px;
    img {
      margin-right: 4px;
      width: 14px;
      height: 14px;
    }
    p {
      font-size: 12px;
      line-height: 120%;
      color: rgba(255, 255, 255, 0.45);
    }
  }
}
